.offs{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    @media screen and (max-width:650px) {
        display: none;
         }
    .inns{
        width: 90%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        justify-content: center;
    align-items: center;
   
    }
    h3{
        color: rgb(16, 240, 8);
        font-size: 15px;
    }
    h1{
        margin-bottom: 2.5rem;
    }
}